<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responder Pergunta</title>
</head>
<body>
    <a href="{{ url_for('home') }}">Voltar para a Home</a>
    <h1>Responder Pergunta</h1>

    <form action="{{ url_for('answer_question') }}" method="POST">
        {% for question in questions %}
            <fieldset>
                <legend>{{ question['question'] }}</legend>
                
                {% for answer in question['answers'] %}
                    <label>
                        <input type="radio" name="answer" value="{{ answer }}" required>
                        {{ answer }}
                    </label><br>
                {% endfor %}
                
                <input type="hidden" name="question_id" value="{{ loop.index0 }}">
            </fieldset>
        {% endfor %}
        
        <button type="submit">Responder</button>
    </form>

    <br>
    <a href="{{ url_for('home') }}">Voltar para a Home</a>
</body>
</html>
