<!DOCTYPE html>
<html>
<head>
    <title>Bem-vindo, {{ username }}</title>
</head>
<body>
    <h1>Bem-vindo, {{ username }}!</h1>
    <a href="{{ url_for('create_question') }}">Criar Pergunta</a><br>
    <a href="{{ url_for('answer_question') }}">Responder Perguntas</a><br>
    <a href="{{ url_for('responses') }}">Ver Respostas</a><br>
    {% if username != "Visitante" %}
        <a href="{{ url_for('logout') }}">Sair</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Registrar</a>
    {% endif %}
</body>
</html>
